/* This is for the styling of all html file in this project */

.a {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    background-color: blanchedalmond;
    padding: 8px;
    border: 2px;
    margin: 8px;
    width: 1200px;
}

.box {
    padding-left: 50px;
}

.box1 {
    padding: 8px;
    border: 2px;
    margin: 8px;
    list-style-position: inside;
}

.box2 {
    padding: 8px;
    border: 2px;
    margin: 8px;
    list-style-position: inside;
}

.box3 {
    padding: 8px;
    border: 2px;
    margin: 8px;
    list-style-position: inside;
}

.list {
    list-style-position: inside;
}